* {
  outline: 1px solid red;
}

.page {
  max-width: 1920px;
  min-width: 1600px;
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font: 500 24px/normal 'Oswald', Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  text-transform: uppercase;
  box-sizing: border-box;
}

/* Шапка сайта, блок header */

.header {
  height: 740px;
  display: flex;
  position: relative;
  flex-flow: column wrap;
  text-align: center;
  color:#fff;
  text-shadow: 0 0 1px #000;
  background: url(../images/rectangle.png), #404149;
}

.logo {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 405px;
}

.menu__image {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 405px;
}

.header__title {
  width: 734px;
  height: 171px;
  margin: 192px auto 35px;
  font-size: 64px;
}

.header__subtitle {
  width: 740px;
  height: 22px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: normal;
}

.content {
  margin: 0;
}

.digits {
  width: 1110px;
  height: 300px;
  margin: 0 auto;
  background-color: #F7F7F7;
  position: relative;
  transform: translate(0,-150px);
}

.digits__list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin: 0;
}

.digits__list-item {
  width: 198px;
  height: 186px;
  margin: 50px 0 0 0;
}

.digits__list-item:nth-of-type(1n+2) {
  margin: 50px 0 0 30px;
}

.digits__list-title {
  color: #f7654f;
  font-size: 72px;
  margin: 0;
}

.digits__list-text {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.digits__list-subtext {
  text-transform: none;
  margin: 0;
  font-size: 18px;
  color: #999;
}

.project {
  height: 1080px;
  padding: 250px 0 0;
  display: flex;
}

.project__item {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  width: 1100px;
  height: 700px;
  margin: 0 auto;
  list-style-type: none;
}


