* {
  outline: 1px solid red;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

.position_absolute {

}

/* Шапка сайта, блок header 1/6 */

.logo {
  z-index: 99;

}

.logo_place_header {
  position: absolute;
  top: 30px;
  margin-left: 64px;
  width: 183px;
  height: 32px;
}

.logo_place_footer {

}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  /* выше установили ограничения для секции */
}

.header__title {
  width: 730px;
  align-self: center;
  margin-left: 64px;
  font-weight: bold;
  font-size: 102px;
  line-height: 96px;
  z-index: 99;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 99;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 98;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  z-index: 0;
  background-color: #2f80ed;
  position: absolute;
  margin-top: 64px;
  right: 0;
}

/* Секция, блок description 2/6 */

.description {

}

.two-columns {

}

.two-columns__brief {

}

.two-columns__main-text {

}

.two-columns__paragraph {

}

.two-columns__span-accent {

}

/* Секция, блок digits 3/6 */

.digits {

}

.section-title {

}

.section-subtitle {

}

.table {

}

.table__cell {

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {

}

.table__text {

}


/* Секция, блок feynman 4/6 */

.feynman {

}

.feynman__title {

}

.feynman__subtitle {

}

.feynman__link {

}

/* Секция, блок kaufman 5/6 */

.kaufman {

}

.kaufman__triangle {

}

/* Подвал сайта, блок footer 6/6 */

.footer {

}

.footer__columns {

}

.footer__column_content_copyright {

}

.footer__column_content_info {

}

.footer__column_content_social {

}

.footer__author {

}

.footer__column-heading {

}

.footer__column-links {

}

.footer__social-icon {

}
